
@{
    ViewBag.Title = "Estadisticas";
}

<main>
    <h1>Resultados de estadisticas</h1>
    <h4>1: Lista de ideas de negocio con mayor rentabilidad</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Valor inversion</th>
                <th>Total ingresos</th>
                <th>Ganacias</th>
            </tr>
        </thead>
        <tbody>
     
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> </td>

                </tr>
            

        </tbody>
    </table>
    <br>
    <h4>2: Lista de ideas que impactan en mas de 3 departamentos.</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Impacto</th>
                <th>Departamentos</th>
            </tr>
        </thead>
        <tbody>
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <ul class="list-group">
                            
                            
                                <li></li>
                            
                        </ul>
                    </td>
                    <td>

                </tr>
            

        </tbody>
    </table>
    <h4>3: Lista de ideas de negocio con impacto en desarrollo sostenible</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Impacto</th>
                <th>Herramientas 4 R.I</th>
            </tr>
        </thead>
        <tbody>
  
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <ul class="list-group">
                            
                            
                                <li></li>
                            
                        </ul>
                    </td>


                </tr>
            

        </tbody>
    </table>
    <br>
    <h4>4: Lista de ideas con mayor rentabilidad que el promedio total de las ideas</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Valor inversion</th>
                <th>Total ingresos</th>
            </tr>
        </thead>
        <tbody>
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            

        </tbody>
    </table>
    <br>
    <h4>5: Lista de ideas de negocio con impacto en Territorios inteligentes o Transicion energetica</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Impacto</th>
                <th>Herramientas 4 R.I</th>
            </tr>
        </thead>
        <tbody>
            
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <ul class="list-group">
                            
                            
                                <li></li>
                            
                        </ul>
                    </td>


                </tr>
            

        </tbody>
    </table>
    <br>
    <h4>6: Idea de negocio que impacta mayor numero de departamentos </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Impacto</th>
                <th>Departamentos</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <ul class="list-group">
                        
                        
                            <li></li>
                        
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>7: Idea de negocio con mayor uso de herramientas 4 R.I </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Impacto</th>
                <th>Herramientas 4 R.I</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <ul class="list-group">
                        
                            <li></li>
                        
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>8: Idea de negocio con mayor valor de inversion en infraestructura </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Valor de inversion</th>
                <th>Valor de inversion en infraestructura</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>9: Idea de negocio con mayor total de ingresos </h4>
    <table class="table">
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Valor de inversion</th>
                <th>Total de ingresos</th>
                <th>Ganancias</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
    <br>
    <h4>10: La suma total de ingresos es:  </h4>
    <br>
    <h4>11: La suma total de inversiones es: </h4>
    <br>
    <h4>12: El total de ideas de negocio que usan la herramienta Inteligencia artificial:  </h4>




</main>
